<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block head %}
        {{ setupHeader(['common']) }}
    {% endblock %}
</head>
<body>
    <div {% block containertype %}class="container-fluid mt-5"{% endblock %}>
        {% include 'nav.twig' %}
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}
    <script></script>
    {% endblock %}
    {% block footer %}
    <footer></footer>
    {% endblock %}
</body>
</html>
