{% extends 'base.twig' %}

{% block title %}
    {{ 'Skeleton Module Dashboard' }}
{% endblock %}

{% block head %}
    {{ setupHeader(['common','jquery-ui', 'jquery-ui-base', 'select2']) }}
{% endblock %}

{% block content %}
    <h1>Skeleton Module Dashboard</h1>
{% endblock %}


